
    };
    // support for requirejs
    if ( typeof define === 'function' && define.amd ) {
        define(['jquery'], function ($) {
            return plugin($);
        } );
    } else {
        plugin(jQuery);
    }
}());
